<div class="container">
    <div style="overflow: hidden" [style.width.px]='30*starRating'>
        <div [style.width.px]="30*5">
            <span><img src="/assets/starRatingImage/star.png" width="30px" height="30px" ></span>
            <span><img src="/assets/starRatingImage/star.png" width="30px" height="30px" ></span>
            <span><img src="/assets/starRatingImage/star.png" width="30px" height="30px" ></span>
            <span><img src="/assets/starRatingImage/star.png" width="30px" height="30px" ></span>
            <span><img src="/assets/starRatingImage/star.png" width="30px" height="30px" ></span>
        </div>
    </div>
</div>