<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/strategy-pattern-example-app/src/com/techlab/shopping/cart/test/ShoppingCartTest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.techlab.shopping.cart.test.ShoppingCartTest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="strategy-pattern-example-app"/>
</launchConfiguration>
