<section hidden>
    <h1>
        {{ message }} <br> {{ 22/7 | number:'1.1-2' }} <br> {{ false ||'darshan' | uppercase}}
    </h1>
    <hr>
</section>
<section hidden>
    <swabhav-student></swabhav-student>
    <hr>
</section>
<section hidden>
    <swabhav-multiBind></swabhav-multiBind>
    <hr>
</section>
<section hidden>
    <swabhav-blueBall-game></swabhav-blueBall-game>
    <hr>
</section>
<section hidden>
    <swabhav-toggle-button (stateChanged)='getToggleData($event)' [textValue]='"Toggle"' [offColor]='"red"' [onColor]='"green"'></swabhav-toggle-button>
    <p>data from child :-
        <span [innerHtml]="toggleData"></span></p>
    <hr>
</section>
<section hidden>
    <swabhav-star-rating [starRating]='"3.5"'></swabhav-star-rating>
    <hr>
</section>
<section>
    <swabhav-number-api></swabhav-number-api>
    <hr>
</section>