<form>
    <fieldset>
        <legend>Change Password</legend>
        <table>
            <tr>
                <td><label>Old Password : </label></td>
                <td> <input type="password" ng-model="oldPassword"></td>
            </tr>
            <tr>
                <td><label>New Password :</label></td>
                <td><input type="password" ng-model="newPassword"></td>
            </tr>
            <tr>
                <td><label>Cofirm Password :</label></td>
                <td><input type="password" ng-model="confirmPassword"></td>
            </tr>

        </table>
        <br><input type="button" value="Cancel" ng-click=cancel()>
        <input type="button" value="Change" ng-click=changePassword()>
    </fieldset>
</form>