<form>
    <fieldset>
        <legend>Edit Task</legend>
        <table>
            <tr>
                <td><label>Tittle : </label></td>
                <td> <input type="text" ng-model="tittle"></td>
            </tr>
            <tr>
                <td><label>Description :</label></td>
                <td><input type="text" ng-model="description"></td>
            </tr>
            <tr>
                <td><label>Start Date : </label></td>
                <td><input type="date" ng-model="startDate"></td>
            </tr>
            <tr>
                <td><label>Due Date : </label></td>
                <td><input type="date" ng-model="dueDate"></td>
            </tr>
            <tr>
                <td><label>Assignee : </label></td>
                <td><input type="text" ng-model="assignee"></td>
            </tr>
            <tr>
                <td><label>Priority : </label></td>
                <td><select ng-model="priority" ng-options="priority for priority in prioritys"></td>
            </tr>
            <tr>
                <td><label>Is Complated : </label></td>
                <td><label class="switch">
                        <input type="checkbox" ng-model="isComplated">
                        <span class="slider round"></span>
                    </label>
                </td>
            </tr>
        </table>
        <br>
        <input type="button" value="Edit Task" ng-click=editTask()>
    </fieldset>
</form>