<center>
    <form>
        <fieldset>
            <legend>Log In</legend>
            <table>
                <tr>
                    <td>Email Id :- </td>
                    <td><input type="text" ng_model="emailId"></td>
                </tr>
                <tr>
                    <td>Password : -</td>
                    <td><input type="password" ng-model=password></td>
                </tr>
            </table><br>
            <input type="button" value="Log In" ng-click="userLogIn()"><br>
            <a href="#!/register">CREATE AN ACCOUNT</a>
        </fieldset>
    </form>
</center>