<input type="button" value="Add Task" ng-click="addTask()"><br>
<div style="margin:10px;display: inline-block ;" ng-repeat="task in taskList">
    <div
        ng-style="{'background-color':'{{ task.priority | priorityFilter }}','padding':' 10px 10px 10px 10px'}">
        <div ng-click="displaySubTask(task._id)">
            <p>
                <h2><label>Tittle :- </label>{{ task.tittle }}</h2>
                <h4><label>Description :- </label>{{ task.description }}</h4>
                <label>Start Date :- </label>{{ task.startDate | date : mm/dd/yyyy }}<br>
                <label>Due Date :- </label>{{ task.dueDate | date : mm/dd/yyyy}}<br>
                <label>Create Date :- </label>{{ task.createDate | date : mm/dd/yyyy }}<br>
                <label>Complated :- </label>{{ task.isComplated }}
            </p>
        </div>
        <center>
            <input type="button" value="Edit" ng-click="editTask(task._id)">
            <input type="button" value="Delete" ng-click="deleteTask(task._id)">
        </center>
    </div>
</div>